
<h1>Edit your collection</h1>

<form action='/collections/<%=@collection.slug%>' method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Name</label>
  <input type="text" value="<%=@collection.name%>" name="name">
  <br></br>
  <label>Description</label>
  <input type="text" value="<%=@collection.description%>" name="description">
  <br>
  <input type="submit" value="submit">
</form> 