

<h1>Welcome to Collector</h1>

<h3>Log In/Sign Up</h3>
<form method="post" action="/login">
  <input type="text" name="name" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="submit" id="submit">
</form>
<br>
Not a member? <a href='/signup'>Sign Up</a>
