<!DOCTYPE html>
<html>
  <head>
    <title>Collector</title>
  </head>
  <body>
  	<a href="/collections">Home</a>
  	<a href="/users">Browse</a>
  	<% if !session[:user_id] %>
	  	<a href="/login">Log In/SignUp</a>
	<% else %>
		<a href="/logout">Logout</a>
	<% end %>
  	

	<% if flash[:error] %>
	  <p><%= flash[:error] %></p>

	<% end %>

    <%= yield %>
  </body>

</html>