<h3>Log In Please</h3>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="submit" id="submit">
</form>