<h1>Sign up below:</h1> 

<form action='/signup' method="POST">
  <label>name</label>
  <br>
  <input type="text" name="name"> 
  <br></br>
  <label>email</label>
  <br>
  <input type="text" name="email">
  <br></br>
  <label>password</label>
  <br>
  <input type="password" name="password">
  <br></br>
  <input type="submit" value="Sign Up">
</form> 